<?xml version="1.0"?>
<launch>
  <arg name="limited" default="true"/>
  <arg name="prefix_robot1" default="robot1_"/>
  <arg name="prefix_robot2" default="robot2_"/>

  <param name="robot_description" command="$(find xacro)/xacro.py '$(find dual_arm_robot_description)/urdf/dual_arm_robot.urdf.xacro' prefix_robot1:=$(arg prefix_robot1) prefix_robot2:=$(arg prefix_robot2) limited:=$(arg limited)"/>
</launch>